<div id="reviews">
  <h1 class="my-h1"><strong>REVIEWS</strong></h1>
  <a id="button-style-a" href="/reviews/create-review">Add a Review</a>
</div>
<div class="review-container">
  {{#if dbError}}
    <p>Error: Internal server error.</p>
  {{else}}

    {{#if reviews}}
      <ul>
        {{#each reviews}}
          <div class="review-list">
            <hr class="footer-hr" />
            <h3>{{name}}</h3>
            <p>Grade: {{grade}}/10</p>
            <div>
              <p>
                <a id="button-style-a" class="review-a" href="/review/{{id}}">Read Review</a>
              </p>
            </div>
          </div>
        {{/each}}
      </ul>
    {{else}}
      <p>There are no reviews</p>
    {{/if}}
  {{/if}}
</div>