<div class="review-container">
  {{#if dbError}}
    <p>Error: Internal server error</p>
  {{else}}

    {{#if review}}
      <ul>
        <div class="review-list">
          <hr class="footer-hr" />
          <h3>{{review.name}}</h3>
          {{#if review.description.length}}
            <div class="review-text">
              <p>Review: {{review.description}}</p>
            </div>
          {{else}}
            <p>Review: No description provided</p>
          {{/if}}
          <p>Grade: {{review.grade}}/10</p>
          {{#if isLoggedIn}}
            <div>
              <a id="button-style-a" href="/reviews/update/{{review.id}}">Update Review</a>
            </div>
            <div id="review-delete">
              <form action="/reviews/delete/{{review.id}}" method="POST">
                <input type="submit" value="Delete" />
              </form>
            </div>
          {{/if}}
        </div>
      </ul>
    {{else}}
      <p>There are no reviews</p>
    {{/if}}
  {{/if}}
</div>