<div id="reviews">
  <h1 class="my-h1"><strong>REVIEWS</strong></h1>
  <a id="button-style-a" href="/reviews/create-review">Add a Review</a>
  {{#if isLoggedIn}}
    <a id="button-style-a" href="/reviews/delete-review">Delete a Review</a>
  {{/if}}
</div>
<div class="review-container">
  {{#if dbError}}
    <p>Can't display the page now, try again later. </p>
  {{else}}

    {{#if reviews}}
      <ul>
        {{#each reviews}}
          <div class="review-list">
            <hr class="footer-hr" />
            <h3>{{name}}</h3>
            <p>Grade: {{grade}}/10</p> 
            <div>
              <p><a id="button-style-a" class="review-a" href="/reviews/{{id}}">Read Review</a></p>
            </div>

            {{#if ../isLoggedIn}}

            {{/if}}
          </div>
        {{/each}}
      </ul>
    {{else}}
      <p>There are no reviews</p>
    {{/if}}
  {{/if}}
</div>